[submodule "lib/yoda"]
	path = lib/yoda
	url = http://github.com/jomoho/yoda
[submodule "client/lib/Socket.IO"]
	path = client/lib/Socket.IO
	url = http://github.com/LearnBoost/Socket.IO
[submodule "client/lib/jo"]
	path = client/lib/jo
	url = http://github.com/jomoho/jomohojs
