
body{
    background: #0157a0;
    margin: 0;
    padding: 0;
	font-family: 'Luckiest Guy', arial, serif; 
}
a:hover{
	
	color: #777;
}
a{
	color: black;
	text-decoration: none;
}
#canvas{
	position:absolute;
}
#chat{
	position: absolute;
	z-index:2;
	top: 0;
	left: 0;
	width: 320px;
	height: 100%;
	background: rgba(255,255,255, 0.5);
}
#chat-text{
	margin-top: 96px;
}
#chat-form{
	z-index:99;
	position:absolute;
	left: 8px;
	bottom:8px;
}
#chat-input{
	width: 224px;
}
	
.transparent {
        /* Required for IE 5, 6, 7 */
        /* ...or something to trigger hasLayout, like zoom: 1; */
        zoom: 1; 
        /* This works in IE 8 & 9 too */
        /* ... but also 5, 6, 7 */
        filter: alpha(opacity=50);
        /* Modern!
        /* Firefox 0.9+, Safari 2?, Chrome any?
        /* Opera 9+, IE 9+ */
        opacity: 0.5;
}
.pop{
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background: rgba(255,255,255,120);
	color: #333;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	z-index: 99;
	padding: 20px;
	width: 460px;
	height: 240px;
	text-align: center;
}
form.pop{
	overflow-x: hide;
	overflow-y: auto;
}
form.pop label{
	width: 96px;
	display: inline-block;
}
form.pop fieldset{
	text-align: left;
	border: none;
}
form.pop fieldset.end{
	text-align: right;
}

#chatb img{
	background-position: -160px 0;
}
#chatb.hidden img{
	background-position: -192px 0;
}
#menu{
	position: absolute;
	top: 16px;
	left: 8px;	
	height: 32px;
	z-index: 99;
	margin: 0;
	padding: 0;
}

#tools{
	height: 32px;
	z-index: 99;
	margin: 4px 8px;
}

#tools li, .button{
	width: 32px;
	height: 32px;
	display: block;
	float: left;
	margin: 0 8px;
	padding: 1px;	
	border: 1px solid transparent;
	border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
}
#tools li:hover, .botton:hover{
	border: 1px solid rgba(255,196,0,1);
}
#tools li.active{
	background-color: rgba(255,196,0,0.8);
}
#tools img, .button img{
	width: 32px;
	height: 32px;
	display: block;
	background: url(../img/icons.png) 0 -32px;
}
#tools span, .button span{
	position: relative;
	bottom: -2px;
	left: auto;
	background: rgba(0,0,0,0.3);
	color: rgba(255,255,255,0.8);
	font-weight: bold;
	font-size: 16px;
	padding: 0 8px;
	border-radius: 16px;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
}
#tools #pick img{
	background-position: -32px -32px;
}
#tools #tile img{
	background-position: -64px -32px;
}
#tools #settings img{
	background-position: -96px -32px;
}
#sidebar{
	position: absolute;
	right: 0;
	top: 0;
	width: 224px;
	height: 100%;
	background: white;
	border: none;
	border-left: 1px solid #ccc;
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 99;
}
#sidebar .panel{
	margin: 0;
	padding: 0;
	min-height: 96px;	
}
ul{
	margin: 0;
	padding: 0;
}
#sidebar h2{
	margin: 0 0 8px 0;
	padding: 4px 0;
	font-size: 16px;
	background: #ccc;
	text-indent: 8px;
}
#sidebar form{
	padding: 0 4px;
}
.pair label, .pair input.name{
	width: 80px;
	display: inline-block;
}
.pair input{
	width: 120px;
	margin-left: 4px;
	display: inline-block;	
}