
body{
    background: #0157a0;
    margin: 0;
    padding: 0;
	font-family: 'Luckiest Guy', arial, serif; 
}
a:hover{
	
	color: #777;
}
a{
	color: black;
	text-decoration: none;
}
#canvas{
	position:absolute;
}
#chat{
	position: absolute;
	z-index:2;
	top: 64px;
	left: 8px;
}
#form{
	z-index:99;
	position:absolute;
	left: 8px;
	bottom:8px;
}
#input{
	width: 500px;
}
	
.transparent {
        /* Required for IE 5, 6, 7 */
        /* ...or something to trigger hasLayout, like zoom: 1; */
        zoom: 1; 
        /* This works in IE 8 & 9 too */
        /* ... but also 5, 6, 7 */
        filter: alpha(opacity=50);
        /* Modern!
        /* Firefox 0.9+, Safari 2?, Chrome any?
        /* Opera 9+, IE 9+ */
        opacity: 0.5;
}
.pop{
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background: rgba(255,255,255,120);
	color: #333;
	font-size: 18px;
	display: inline-block;
	position: absolute;
	z-index: 99;
	padding: 20px;
	width: 460px;
	height: 240px;
	text-align: center;
}
form.pop{
	overflow-x: hide;
	overflow-y: auto;
}
form.pop label{
	width: 96px;
	display: inline-block;
}
form.pop fieldset{
	text-align: left;
	border: none;
}
form.pop fieldset.end{
	text-align: right;
}

#chatb img{
	background-position: -160px 0;
}
#chatb.hidden img{
	background-position: -192px 0;
}
#menu{
	position: absolute;
	top: 16px;
	left: 0;	
	height: 32px;
	z-index: 99;
	margin: 0;
	padding: 0;
}

#tools{
	position: absolute;
	top: 16px;
	right: 128px;	
	height: 32px;
	z-index: 99;
	margin: 0;
}

#tools li, .button{
	width: 32px;
	height: 32px;
	display: block;
	float: left;
	margin: 0 4px;
	padding: 3px;	
	border: 1px solid transparent;
	border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
}
#tools li:hover, .botton:hover{
	border: 1px solid rgba(96,96,96,0.7);
}
#tools li.active{
	background-color: rgba(84,84,84,0.8);
}
#tools img, .button img{
	width: 32px;
	height: 32px;
	display: block;
	background: url(../img/icons.png) 0 -32px;

}


#tools #pick img{
	background-position: -32px -32px;
}
#tools #tile img{
	background-position: -64px -32px;
}
#tools #settings img{
	background-position: -96px -32px;
}
