
body{
    background: #0157a0;
    margin: 0;
    padding: 0;
	font-family: 'Luckiest Guy', arial, serif; 
}
a:hover{
	
	color: #777;
}
a{
	color: black;
	text-decoration: none;
}
#canvas{
	position:absolute;
}
#chat{
	position: absolute;
	z-index:99;
	top: 8px;
	left: 8px;
}
#form{
	z-index:99;
	position:absolute;
	left: 8px;
	bottom:8px;
}
#input{
	width: 500px;
}
	
.transparent {
        /* Required for IE 5, 6, 7 */
        /* ...or something to trigger hasLayout, like zoom: 1; */
        zoom: 1; 
        /* This works in IE 8 & 9 too */
        /* ... but also 5, 6, 7 */
        filter: alpha(opacity=50);
        /* Modern!
        /* Firefox 0.9+, Safari 2?, Chrome any?
        /* Opera 9+, IE 9+ */
        opacity: 0.5;
}